html{
    transition: background-color $transition_html;
    background-color: $ghost_color_1;
    color: $ghost_color_3;
    overflow-x: hidden;
    scrollbar-width: 0;
    width: 100%;
    max-width: 100%;
    font-size: $base_font-size;
    font-family: 'Roboto', sans-serif;

    body{
        width: 100%;
        padding: $base_padding;
        scrollbar-width: none;
        padding: $base_padding;
        
        &.locked{
            max-height: calc(100vh - $base_padding);
            overflow-y: hidden;
        }
    }
}
