#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: calc($base_big * 2);

    #footer_tag{
        @include flex(row, center, center);
        @include position(relative, auto, auto, 50px, auto);
        transition: opacity $transition_scroll, bottom $transition_scroll;
        opacity: 0;

        &:hover{                    
            animation: shake 0.8s infinite;
        }
        &:active{
            animation: none;
        }

        svg{
            height: 25px;
            fill: $ghost_color_3;
            transition: fill $transition_hero;
        }


        &.visible{
            @include position(relative, auto, auto, 0, auto);
            transition: opacity $transition_scroll, bottom $transition_scroll;
            opacity: 1;
        }
    }

    p{
        width: 100%;
        color: #266B63;
        opacity: 0;
        transition: opacity $transition_scroll, color $transition_textColor;

        &:first-child{
            text-align: end; 
        }

        &.visible{
            opacity: 1;
            transition: opacity $transition_scroll;
        }
    }
}