#header{
    width: $full_width;
    min-height: calc(100vh - $base_padding);
    max-height: calc(100vh - $base_padding);
    transition: $transition_scroll;

    &.min{
        min-height: 0;
        transition: $transition_scroll;
    }
}