#hero{
    @include flex(row, center, center);
    min-height: calc(100vh - $base_padding - $height_header_nav);
    max-height: calc(100vh - $base_padding - $height_header_nav);
    transition: $transition_scroll;

    #hero_container{
        @include flex(row, center, center);
        @include position(relative, auto, auto, auto, auto);

        width: $hero_width;
        max-width: 90%;
        aspect-ratio: 2/1;
        max-height: 50%;
        margin-bottom: calc($height_header_nav * 2);

        .tag_part{
            height: 75%;
            opacity: 0;
            fill: $ghost_color_3;
            transition: fill $transition_hero;

            &#tag_gh{
                @include position(absolute, -100vh, auto, auto, -100vw);
                z-index: 1;

                &.visible{
                    @include position(absolute, 12.5%, auto, auto, 0);
                    transition: left $transition_hero, top $transition_hero, opacity $transition_hero;
                }
            }
            &#tag_st{
                @include position(absolute, auto, -100vw, -100vh, auto);
                z-index: 1;
                
                &.visible{
                    @include position(absolute, auto, 0, 12.5%, auto);
                    transition: right $transition_hero, bottom $transition_hero, opacity $transition_hero;
                }
            }


            &.visible{
                opacity: 0.6;
            }
        }

        #tag_logo{
            @include position(relative, auto, auto, auto, auto);
            height: 100%;
            z-index: 2;
            opacity: 0;
            transform: rotate(-360deg);

            &.visible{
                opacity: 1;
                transform: rotate(0deg);
                transition: transform $transition_hero, opacity $transition_hero;

                &:hover{
                    & ~ svg{
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.min{
        min-height: 0;
        transition: $transition_scroll;
    }
}