#header_nav{
    width: $full_width;
    height: $height_header_nav;
    @include flex(row, space-between, flex-start);


    ul{
        @include flex(column, flex-start, flex-start);
        gap: 10px;

    

        li{
            button, a{
                border: none;

                &:hover{                    
                    animation: shake 0.8s infinite;
                }
                &:active{
                    animation: none;
                }
            }
        }

        &.visible{
            transition: $transition_nav;
        }

        &#nav_switch{
            @include position(relative, auto, 45px, auto, auto);
    
    
            li{
                .updateBtn{
                    display: block;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    opacity: 1;
                    transition: opacity $transition_hover;

                    &:hover{                    
                        opacity: 0.6;
                    }
                    &:active{
                        opacity: 1;
                    }
                }
    
                &:nth-child(1) .updateBtn{
                    background-color: $ghost_color_2;
                }
    
                &:nth-child(2) .updateBtn{
                    background-color: $anjing_color_2;
                }
    
                &:nth-child(3) .updateBtn{
                    background-color: $kucing_color_2;
                }
            }
    
            &.visible{
                @include position(relative, auto, 0, auto, auto);
            }
        }

        &#nav_social{
            @include position(relative, auto, -110px, auto, auto);
            @include flex(row, flex-start, flex-start);
            gap: $base_gap;

            li{
                a{
                    display: block;
                    height: 30px;

                    img{
                        height: 100%;
                        opacity: 0.6;
                        transition: opacity $transition_hover;
                    }

                    &:hover{                    
                        img{
                            opacity: 1;
                            transition: opacity $transition_hover;
                        }                    
                    }
        
                    &:active{
                        img{
                            opacity: 0;
                            transition: opacity $transition_hover;
                        }            
                    }
                }
            }

            &.visible{
                @include position(relative, auto, 0, auto, auto);
            }
        }
    }
}