$ghost_color_1: #3BA99C;
$ghost_color_2: #256A62;
$ghost_color_3: #11122C;

$fox_color_1: #4B63AA;
$fox_color_2: #2C3963;
$fox_color_3: #120802;

$tiger_color_1: #A4515C;
$tiger_color_2: #602F36;
$tiger_color_3: #08090C;


$hero_width: 800px;

$base_font-size: 18px;
$base_padding: 25px;
$base_margin: 25px;
$base_gap: 25px;
$base_big: 150px;
$base_width: 1000px;

$height_header_nav: 80px;

$full_width: 100%;


$transition_html: 2s;
$transition_nav: 1s ease-out;
$transition_hero: 1s ease-out;
$transition_scroll: 1s;
$transition_textColor: 1s;
$transition_backgroundColor: 1s;
$transition_hover: 1s;
$transition_progress: 1s;