#bucket{
    @include position(relative, auto, -100vw, auto, auto);
    grid-area: bucket;
    justify-self: flex-end;
    width: 250px;
    max-width: 60%;
    transition: right $transition_scroll;
    margin-top: $base_big;

    &.visible{
        @include position(relative, auto, 0, auto, auto);
        transition: right $transition_scroll;
    }

    @media all and (max-width: 1049px) {
        &{
            margin-top: 0;
            align-self: center;
            justify-self: center;
            @include position(relative, auto, auto, auto, -100vw);
            transition: left $transition_scroll;

            &.visible{
                @include position(relative, auto, auto, auto, 0);
                transition: left $transition_scroll;
            }
        }
    }

    @media all and (max-width: 799px) {
        &{
            margin: $base_big 0;
        }
    }
}