#about_categories{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    transition: 1s;
    min-width: calc(100% - 370px);
    width: calc(100% - 370px);
    max-width: calc(100% - 370px);
    position: relative;
}

.category{
    position: relative;
    background: transparent;
    border-radius: 10px;
    max-height: 150px;
    overflow: hidden;
    aspect-ratio: 1/1;
    padding: 25px 25px 25px;
    width: 150px;
    max-width: 360px;
    transition: 1s;
}

.category .card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 1;
    transition: 1s;
}

.category .card .flex_col{
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transition: 1s;
}

.category .card .flex_col.visible{
    opacity: 1;
    transition: 1s;
}

.category h3{
    width: 200px;
}

.category h4{
    font-size: 18px;
}

.category.selected{
    aspect-ratio: auto;
    padding: 25px 25px 50px;
    width: 100%;
    max-width: 360px;
    transition: 1s;
}

.category:not(.selected):hover{
    animation: shake 0.8s infinite;
}

.category.selected:hover{
    animation: shake 0.8s 1;
}


.category{
    background-color: #266B63;
    color: #ECF1FE;
}

.category h3, .category h4{
    color: #3BA99C;
    transition: 1s;
}

.category.selected h3{
    font-size: 24px;
    transition: 1s;
}
/* First child */
.category:nth-child(1){
    left: -100vw;
    opacity: 0;
}


.category:nth-child(1) a{
    color: #BFCFFA;
    margin-right: auto;
}

.category:nth-child(1) a:hover{
    animation: shake 0.8s infinite;
}

.category:nth-child(1).selected{
    max-height: 524px;
}

/* Second child */
.category:nth-child(2){
    opacity: 0;
    bottom: -100vh;
}

.category:nth-child(2).selected{
    max-height: 502px;
}

/* Third child */
.category:nth-child(3){
    left: 100vw;
    opacity: 0;
}

.category:nth-child(3).selected{
    max-height: 431px;
}

/* Fade in */
.category.visible{
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
}

@media all and (max-width: 999px) {
    #about_categories{
        width: 100%;
        max-width: 100%;
    }
}

@media all and (max-width: 650px) {
    #about_categories{
        gap: 25px;
        justify-content: space-between;
    }

    .category{
        padding: 25px;
    }

    .category.selected{
        flex-shrink: 0;
    }
}

@media all and (max-width: 570px){
    #about_categories.selected{
        gap: 0;
        transition: 1s;
    }

    .category.selected{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }

    .category.deselected{
        padding: 0;
        width: 0%;
        height: 0%;
    }

    .category.deselected h3{
        opacity: 0;
        transition: 0.5s;
    }
}

@media all and (max-width: 350px){
    .category{
        padding: 10px;
    }
}

#profession, #hobby{
    opacity: 1;
    transition: 1s;
}

#profession.flash, #hobby.flash{
    opacity: 0;
    transition: 1s
}