.flex_skill{
    @include flex(row, space-between, center);
    width: 100%;

    h4{
        min-width: 120px;
        width: 120px;
        max-width: 120px;
        color: #ECF1FE;
        font-weight: 400;
        font-size: $base_font-size;
    }

    .progressbar{
        width: 100%;
        height: 18px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #ECF1FE;

       .progress{
            height: 100%;
            border-radius: 3px;
            width: 0%;
        }
    }
}