#about_container{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: flex-start;
    min-height: 600px;
    height: 600px;
    max-height: 600px;

    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

#about_categories{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    
    min-height: 600px;
    height: 600px;
    max-height: 600px;

    min-width: calc(100% - 370px);
    width: calc(100% - 370px);
    max-width: calc(100% - 370px);
}


#intro{
    width: 320px;
    max-width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

#intro p{
    text-align: justify;
}

#balance{
    height: 200px;
    animation: balance 10s linear infinite;
    margin: 75px auto 0;
    position: relative;
    bottom: -100vh;
    left: -100vw;
    transition: 1s;
}

#balance.visible{
    bottom: 0;
    left: 0;
    transition: 1s;
}

.category{
    position: relative;
    border-radius: 10px;
    transition: 1s;
    color: #212254;
    width: 200px;
    max-height: 200px;
    overflow: hidden;
    transition: 1s;
    aspect-ratio: 1/1;
    padding: 10px;
}

.category.selected{
    display: block;
    padding: 25px 25px 50px;

    width: 100%;
    max-width: 100%;
    
    max-height: 100%;
    transition: 0.5s;
    aspect-ratio: auto;
}

.category:not(.selected):hover{
    animation: shake 0.8s infinite;
}

.category.selected:hover{
    animation: shake 0.8s 1;
}

.category .card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
    opacity: 1;
    transition: 2s;
}

.category .card.invisible{
    opacity: 0;
    transition: 0.5s;
}

.category .card .flex_col{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flex_col .study_date{
    font-size: 14px;
}

.category h4{
    font-size: 18px;
}

.category .card a{
    color: #212254;
}

.category:nth-child(1){
    background-color: #DB5957;
    left: -100vw;
    opacity: 0;
}


.category:nth-child(1) h4{
    color: #A22522;
}

.category:nth-child(2){
    background-color: #8E7DBE;
    opacity: 0;
    bottom: -100vh;
}

.category:nth-child(2) h4{
    color: #5F4B95;
}

.category:nth-child(3){
    background-color: #FCDC4D;
    left: 100vw;
    opacity: 0;
}

.category:nth-child(3) h4{
    color: #C9A503;
}

.category.visible{
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
}

.flex_skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_skill .progressbar{
    width: 180px;
    background: #5F4B95;
    height: 18px;
    border-radius: 5px;
    overflow: hidden;
}

.flex_skill .progressbar .progress{
    height: 100%;
    border-radius: 3px;
    background-color: #BFCFFA;
    width: 0%;
}