@keyframes ghost  {
    0%   {
        opacity: 0;
        right: 100px;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes insta  {
    0%   {
        left: 100px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes balance {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes left_tag{
    0%   {
        bottom: 100vh;
        left: -100vw;
        opacity: 0;
    }
    100% {
        bottom: 0;
        left: 5%;
        opacity: 1;
    }
}

@keyframes ghost_beanie {
    0%   {
        opacity: 0;
        transform: rotate(-360deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}


@keyframes right_tag{
    0%   {
        top: 100vh;
        right: -100vw;
        opacity: 0;
    }
    100% {
        top: 0;
        right: 15%;
        opacity: 1;
    }
}

@keyframes leftEye {
    0%{
        cx: 261.226px;
    }
    50%{
        cx: 298.226px;
    }
    100%{
        cx: 261.2266px;
    }
}

@keyframes rightEye {
    0%{
        cx: 461.195px;
    }
    50%{
        cx: 498.1955px;
    }
    100%{
        cx: 461.195px;
    }
}