#header_nav{
    width: 100%;
    height: 45px;
}

#header_nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


#header #ghost h1{
    position: relative;
    height: 35px;
    opacity: 0;
    right: 100px;
}

#header #ghost.animate h1{
    right: 0;
    opacity: 1;
    transition: 1s ease-out;
}

#header_nav #ghost img{
    height: 100%;
}

#header_nav #ghost img:hover{
    animation: shake 0.8s infinite;
}

#header_nav #instagram{
    position: relative;
    border: none;
    left: 100px;
    opacity: 0;
}
#header_nav #instagram.animate{
    left: 0;
    opacity: 1;
    transition: 1s ease-out;
}

#header_nav #instagram button{
    background: transparent;
    border: none;
}

#header_nav #instagram a:hover{
    animation: shake 0.8s infinite;
}