.flex_skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_skill p{
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}

.flex_skill .progressbar{
    width: 100%;
    height: 18px;
    border-radius: 5px;
    overflow: hidden;
}

.web .progressbar, .personal .progressbar{
    background: #3BA99C;
}

.flex_skill .progressbar .progress{
    height: 100%;
    border-radius: 3px;
    width: 0%;
}

.web .progress, .personal .progress{
    background: #ECF1FE;
    transition: 1s;
    transition-delay: 0.1s;
}