#socialghost, #socialfox{
    height: 200px;
    position: relative;
    bottom: -100vh;
    margin-left: auto;
    left: 100vw;
    transition: 1s;
    opacity: 0;
}

#socialfox{
    display: none;
}

#socialghost.visible, #socialfox.visible{
    opacity: 1;
    bottom: 0;
    left: 0;
    transition: 1s;
}


#socialghost .leftEye{
    animation: leftEye_ghost 5s ease-in-out infinite;
}

#socialghost .rightEye{
    animation: rightEye_ghost 5s ease-in-out infinite;  
}

#socialfox .leftEye{
    animation: leftEye_fox 5s ease-in-out infinite;
}

#socialfox .rightEye{
    animation: rightEye_fox 5s ease-in-out infinite;  
}

@media all and (max-width: 850px) {
    #socialghost, #socialfox{
        margin: 0;
    }
}

@media all and (max-width: 650px) {
    #socialghost, #socialfox{
        max-width: 50%;
    }
}

@media all and (max-width: 570px){
    #socialghost, #socialfox{
        margin: 0 auto;
    }
}