#socialghost{
    height: 200px;
    position: relative;
    bottom: -100vh;
    margin-left: auto;
    left: 100vw;
    transition: 1s;
    opacity: 0;
}

#socialghost.visible{
    opacity: 1;
    bottom: 0;
    left: 0;
    transition: 1s;
}


.leftEye{
    animation: leftEye 5s ease-in-out infinite;
}

.rightEye{
    animation: rightEye 5s ease-in-out infinite;  
}

@media all and (max-width: 850px) {
    #socialghost{
        margin: 0;
    }
}

@media all and (max-width: 650px) {
    #socialghost{
        max-width: 50%;
    }
}

@media all and (max-width: 570px){
    #socialghost{
        margin-left: auto;
    }
}