#skull{
    height: 150px;
    max-width: 50%;
    position: relative;
    bottom: -100vh;
    left: 100vw;
    transition: 1s;
    opacity: 0;
}

#skull.visible{
    opacity: 1;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.leftEye{
    animation: leftEye 5s ease-in infinite;
}

.rightEye{
    animation: rightEye 5s ease-in infinite;  
}