body.foxMode{
    background: #4B63AA;
    color: #120802;
    transition: background-color 2s, color 2s;
}

body.foxMode #hero_animation{
    padding-left: 0;
}

body.foxMode #boo{
    max-width: 35%;
}

body.foxMode #gh.animate{
    left: 10%;
}

body.foxMode #st.animate{
    right: 10%;
}

body.foxMode #greeting,
body.foxMode #aboutIntro #slogan,
body.foxMode #socialQuotes h3, 
body.foxMode  #socialQuotes p,
body.foxMode #footer p
{
    color: #2C3963;
}

body.foxMode .category, body.foxMode .social{
    background-color: #2C3963;
}

body.foxMode .category h3, 
body.foxMode .category h4{
    color: #4B63AA;
}

body.foxMode .category a{
    color: #EE6123;
}

body.foxMode .web .progressbar,
body.foxMode .personal .progressbar
{
    background-color: #4B63AA;
}

body.foxMode .icon{
    fill: #4B63AA;
    stroke: #4B63AA;
}

body.foxMode #tag .icon{
    fill: #541312;
}

body.foxMode #socialghost{
    display: none;
}

body.foxMode #socialfox{
    display: block;
}